Repository ibmruntimes/ci-jenkins-pipelines, pull requests merged in 2021-09, with the labels that each got.

#4 Add support for Semeru builds
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk16u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: jenkins-pipeline, generation, testing, installer

#7 Disable jdk16 pipelines
  pipelines/build/regeneration/build_pipeline_generator.groovy
  pipelines/jobs/configurations/jdk16u.groovy
Labels: jenkins-pipeline, generation

#8 Sign AIX and Linux releases
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#9 Vary updates for RPM build
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/defaults.json
Labels: jenkins-pipeline, installer

#11 Fix for statement for checksum files generation
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline, generation

#12 Fix binary filter for sign build for Windows
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#10 Enable Semeru 18
  pipelines/build/prTester/pr_test_pipeline.groovy
  pipelines/jobs/configurations/jdk18.groovy
  pipelines/jobs/configurations/jdk18_pipeline_config.groovy
Labels: jenkins-pipeline, testing, openj9

#13 Fix configuration for jdk18 pipeline
  pipelines/jobs/configurations/jdk18_pipeline_config.groovy
Labels: jenkins-pipeline

#14 Adding JDK17 ISR CE specs
  pipelines/jobs/configurations/jdk17.groovy
  pipelines/jobs/configurations/jdk17_pipeline_config.groovy
Labels: jenkins-pipeline

#15 Disabling the test's for ISR CE
  pipelines/jobs/configurations/jdk17_pipeline_config.groovy
Labels: jenkins-pipeline, testing

#18 Fix jdk17 pipeline configuration
  pipelines/jobs/configurations/jdk17_pipeline_config.groovy
Labels: jenkins-pipeline, aarch

#16 Add support for numMachine per test for dynamic parallel testing
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/common/create_job_from_template.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/build/regeneration/build_pipeline_generator.groovy
  pipelines/defaults.json
  pipelines/jobs/pipeline_job_template.groovy
  pipelines/library/src/common/IndividualBuildConfig.groovy
Labels: jenkins-pipeline, generation, testing

#19 Fix version for RPM build parameters
  pipelines/build/common/build_base_file.groovy
Labels: jenkins-pipeline

#20 Add check for testDynamic
  pipelines/build/common/build_base_file.groovy
Labels: jenkins-pipeline, testing

#21 Enable Dynamic Parallel testing for many targets
  pipelines/defaults.json
Labels: jenkins-pipeline, testing

#22 Fix to ensure Certified bins doesn't get named like Open Edition
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#23 Replace --enable-dtrace=auto with --enable-dtrace
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
Labels: jenkins-pipeline
