Repository ibmruntimes/ci-jenkins-pipelines, pull requests merged in 2022-10, with the labels that each got.

#96 Enabled dev.system on JDK11 xlinux
  pipelines/defaults.json
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
Labels: jenkins-pipeline, linux, mac

#97 Remove FIPS specific options from Semeru pipeline
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline, testing

#104 Only force authorizationMatrix on Adoptium's jenkins
  pipelines/build/common/create_job_from_template.groovy
  pipelines/jobs/pipeline_job_template.groovy
Labels: jenkins-pipeline

#105 Correct variable name for GIT_BRANCH
  pipelines/build/common/create_job_from_template.groovy
  pipelines/jobs/pipeline_job_template.groovy
Labels: jenkins-pipeline
