Repository ibmruntimes/ci-jenkins-pipelines, pull requests merged in 2022-02, with the labels that each got.

#48 Add Mac aarch64 to Semeru pipelines
  pipelines/jobs/configurations/jdk18.groovy
  pipelines/jobs/configurations/jdk18_pipeline_config.groovy
Labels: jenkins-pipeline, aarch

#50 Add ea flag to Mac Aarch64
  pipelines/jobs/configurations/jdk18_pipeline_config.groovy
Labels: jenkins-pipeline

#51 Sign mac tarball as well
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline, mac

#52 enable sanity.external in p/z/alinux for JDK11
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
Labels: jenkins-pipeline, linux

#54 Remove vendor config params from job config groovy
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk18_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: jenkins-pipeline
