Repository ibmruntimes/ci-jenkins-pipelines, pull requests merged in 2022-03, with the labels that each got.

#53 Infer vendor version from configure arguments
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline, installer

#58 Fix variable name typo ENABLE_SOURCE_RPM
  pipelines/build/regeneration/build_pipeline_generator.groovy
Labels: jenkins-pipeline, generation, installer

#59 Add CE specs for Mac Aarch64 jdk11/17
  pipelines/jobs/configurations/jdk11u.groovy
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
Labels: jenkins-pipeline
