Repository ibmruntimes/ci-jenkins-pipelines, pull requests merged in 2022-12, with the labels that each got.

#112 Revert a bad merge conflict.
  pipelines/build/common/build_base_file.groovy
Labels: jenkins-pipeline

#113 Add CUSTOMIZED_SDK_URL and CUSTOMIZED_SDK_URL_CREDENTIAL_ID for smoke…
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline, testing

#114 Don't compile in Docker for plinux yet
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk19u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk20_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: jenkins-pipeline, linux
