Repository ibmruntimes/ci-jenkins-pipelines, pull requests merged in 2022-05, with the labels that each got.

#67 Configure Semeru 19 pipelines
  pipelines/jobs/configurations/jdk19.groovy
  pipelines/jobs/configurations/jdk19_pipeline_config.groovy
Labels: jenkins-pipeline

#66 Add FIPS testing
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
Labels: jenkins-pipeline, testing, openj9, linux

#68 Update configuration for JDK19
  pipelines/jobs/configurations/jdk19_pipeline_config.groovy
Labels: jenkins-pipeline, openj9, aarch

#64 AArch64 macOS: Enable DDR builds
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk18_pipeline_config.groovy
  pipelines/jobs/configurations/jdk19_pipeline_config.groovy
Labels: jenkins-pipeline, mac

#70 Run on master or built-in
  pipelines/build/common/build_base_file.groovy
Labels: jenkins-pipeline
