Repository ibmruntimes/ci-jenkins-pipelines, pull requests merged in 2023-03, with the labels that each got.

#123 Enable dev.jck + add geo labels for aix
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
Labels: jenkins-pipeline, testing, aix

#127 Add runUploadTestImage() for CRIU
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline, testing, linux

#134 Remove sanity.external from CRIU specs
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
Labels: jenkins-pipeline

#135 Disable xlinux criu spec
  pipelines/jobs/configurations/jdk11u.groovy
  pipelines/jobs/configurations/jdk17u.groovy
Labels: jenkins-pipeline, linux

#133 enable full functional and system test builds for FIPS in weekly
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk19u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk20_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: jenkins-pipeline, testing

#132 Remove explicit jitserver enable option
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk19u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk20_pipeline_config.groovy
  pipelines/jobs/configurations/jdk21_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: jenkins-pipeline, linux

#136 Add additional CRIU create image tests
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline, testing

#137 Enable criu on default plinux spec 11 17
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
Labels: jenkins-pipeline, linux

#140 RPM jobs need signing label as well
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#139 Enable dev.jck for IBM JDK11 on xLinux, aLinux, xMac, aMac, x64 Windows
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
Labels: jenkins-pipeline, x64

#141 enable CRIU_Image_Upload on ub22 amd
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#144 Update label: ci.geo.raleigh -> ci.geo.rtp
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#143 Enable Semeru 20 pipelines
  pipelines/build/common/create_job_from_template.groovy
  pipelines/jobs/configurations/jdk20.groovy
  pipelines/jobs/configurations/jdk20_pipeline_config.groovy
Labels: jenkins-pipeline, generation, testing

#146 Disable separate criu specs for z p linux
  pipelines/jobs/configurations/jdk11u.groovy
  pipelines/jobs/configurations/jdk17u.groovy
Labels: jenkins-pipeline, linux
