Repository ibmruntimes/ci-jenkins-pipelines, pull requests merged in 2023-09, with the labels that each got.

#176 Revert cuda workaround in Semeru builds
  pipelines/build/dockerFiles/cuda.dockerfile
Labels: jenkins-pipeline, docker

#178 Reverts CUDA9 end of support temp workaround
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#180 Enable dev.external on plinux
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
Labels: jenkins-pipeline, linux

#182 Don't version the cuda install folder
  pipelines/build/dockerFiles/cuda.dockerfile
Labels: jenkins-pipeline, installer, docker
