Repository ibmruntimes/ci-jenkins-pipelines, pull requests merged in 2023-02, with the labels that each got.

#118 Enable zlinux CRIU spec for jdk11,17
  pipelines/jobs/configurations/jdk11u.groovy
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
Labels: jenkins-pipeline, linux

#121 Revert disable ccache and Rollback alinux container to last known good sha
  pipelines/jobs/configurations/jdk19u_pipeline_config.groovy
Labels: jenkins-pipeline, linux

#122 enable dev.external on machines with podman
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
Labels: jenkins-pipeline, mac

#117 Move aix compiles to 7.2
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk19u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: jenkins-pipeline, aix

#125 Disable fips tests on p/zLinux
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: jenkins-pipeline, testing

#124 Switch Artifactory to public network
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#126 Enable dev.external in JDK17
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
Labels: jenkins-pipeline, testing, linux
