Repository ibmruntimes/ci-jenkins-pipelines, pull requests merged in 2023-11, with the labels that each got.

#185 Add BASE_DOCKER_REGISTRY_CREDENTIAL_ID for external-test
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk21u_pipeline_config.groovy
Labels: jenkins-pipeline, testing

#186 Fix docker credential parameter
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline, docker

#187 Enable FIPS140-2 testing for p/z linux for JDK17
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
Labels: jenkins-pipeline, testing, linux
