Repository ibmruntimes/ci-jenkins-pipelines, pull requests merged in 2024-11, with the labels that each got.

#251 Fix vendor repo missing issue for regular test builds
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline, testing

#252 Fix BUILD_LIST for FIPS test builds
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline, testing

#253 Remove 'extended.functional.fips140_2'
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk19u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk20u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk21u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk22u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk23u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: jenkins-pipeline

#254 Remove 'sanity.functional.fips140_2'
  pipelines/jobs/configurations/jdk19u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk20u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk22u_pipeline_config.groovy
Labels: jenkins-pipeline

#255 Add FIPS140-3 weak profile to weekly config
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
Labels: jenkins-pipeline, testing, linux, aix, windows
