Repository ibmruntimes/ci-jenkins-pipelines, pull requests merged in 2024-06, with the labels that each got.

#201 Add support for FIPS140-3
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk21u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk22_pipeline_config.groovy
Labels: jenkins-pipeline

#228 Plinux container compiles
  pipelines/build/dockerFiles/cuda.dockerfile
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk21u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk22_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: jenkins-pipeline, linux, docker

#229 issue_9128 removes condition which only let rhel7 to be pulled
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline, docker

#230 issue_9128 solves issue working with non-default docker registries
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline, docker

#233 issue_9128 enables rhel7 s390 docker build in semeru pipeline
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk21u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk22u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: jenkins-pipeline, docker, s390x

#234 issue_9128 resolves the issue with login to wrong docker registery
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk21u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk22u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: jenkins-pipeline, docker

#237 Fix 22u after bad merge
  pipelines/jobs/configurations/jdk22.groovy
  pipelines/jobs/configurations/jdk22_pipeline_config.groovy
  pipelines/jobs/configurations/jdk22u_pipeline_config.groovy
Labels: jenkins-pipeline
