Repository ibmruntimes/ci-jenkins-pipelines, pull requests merged in 2024-01, with the labels that each got.

#195 Enable dev.external on aarch64LinuxIBM in JDK21
  pipelines/jobs/configurations/jdk21u_pipeline_config.groovy
Labels: jenkins-pipeline, aarch

#196 Define release test lists for JDK21 CE Linux specs
  pipelines/jobs/configurations/jdk21u_pipeline_config.groovy
Labels: jenkins-pipeline, testing

#194 Bundle OpenJCEPlus and get GSKit binaries from Artifactory
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/defaults.json
Labels: jenkins-pipeline

#200 Add release test lists for jdk11 specs
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
Labels: jenkins-pipeline, testing

#203 Add vendor repo
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline
