Repository ibmruntimes/ci-jenkins-pipelines, pull requests merged in 2024-09, with the labels that each got.

#245 Reduce FIPS functional testing
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk21u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk23_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: jenkins-pipeline, testing

#246 Temporarily exclude plinux dev.external
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk21u_pipeline_config.groovy
Labels: jenkins-pipeline, openj9, linux, ppc64le

#247 Revert "Temporarily exclude plinux dev.external"
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk21u_pipeline_config.groovy
Labels: jenkins-pipeline, testing, openj9, linux, ppc64le
