Repository ibmruntimes/ci-jenkins-pipelines, pull requests merged in 2024-07, with the labels that each got.

#240 issue_9554 revert code improvments fetch dockerImageDigest
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline, docker

#241 Remove extra ? in fips suffix
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline

#242 Set test build name to lower case
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline, testing

#243 Fix split()
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: jenkins-pipeline
