Repository ibmruntimes/ci-jenkins-pipelines, pull requests merged in 2025-08, with the labels that each got.

#284 Enable OpenJCEPlusFIPS.FIPS140-3-Strongly-Enforced for weekly
  pipelines/semeru_defaults.json
Labels: jenkins-pipeline

#285 Pass CE repo/branch to alinux jdk25 spec
  pipelines/jobs/Semeru_configuration/jdk25_pipeline_config.groovy
Labels: jenkins-pipeline, linux

#283 Enhance cloud provider detection by adding support for EBC enabled targets in the configs
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/semeru_defaults.json
Labels: jenkins-pipeline, x64, linux

#286 Enable OpenJCEPlusFIPS.FIPS140-3-Strongly-Enforced for JDK11 weekly
  pipelines/jobs/Semeru_configuration/jdk11u_pipeline_config.groovy
Labels: jenkins-pipeline

#288 Leverage default value and enable FIPS strongly enforced in JDK25
  pipelines/jobs/Semeru_configuration/jdk25_pipeline_config.groovy
Labels: jenkins-pipeline

#289 Leverage default value and enable FIPS strongly enforced in JDK21
  pipelines/jobs/Semeru_configuration/jdk21u_pipeline_config.groovy
Labels: jenkins-pipeline

#293 Do not mark release builds as 'Keep forever'
  pipelines/jobs/pipeline_job_template.groovy
  pipelines/jobs/release_pipeline_job_template.groovy
Labels: jenkins-pipeline
